<div class="text-center col">
    <img src="./../../../assets/icons.jpg" width="50%">
</div>
<h3 class="text-center mt-3">SiG Maps</h3>
<hr>
<p class="text-center">Search By:</p>
<hr>
<ul class="list-group">
    <li class="list-group-item" [routerLink]="['/name']" routerLinkActive="active">Name</li>
    <li class="list-group-item" [routerLink]="['/region']"  routerLinkActive="active">Region</li>
    <li class="list-group-item" [routerLink]="['/capital']"  routerLinkActive="active">Capital</li>
</ul>